<div class="container">
  
  
  <table class="table table-striped">
    <thead>
      <th>Id</th>
        <th>First name</th>
          <th>Last name</th>
          <th>Operations</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteUser(user)"> Delete </button> 
          <td>
          <button class="btn btn-primary" (click)="editUser(user)"> Edit  </button>
        </td>
      </tr>
    </tbody>
  </table>
     <button class="btn btn-primary" (click)="newUser()">New user</button>
 </div>